<h1 class="formNadpis">KNIHY - formulár</h1>
<br>
<br>
<br>
<div class="formbackdesign">
<form class="formdesign" [formGroup]="form">
  <!--
    <label>ID:
      <input formControlName="id">
    </label>
    <br>-->

  <label class="Form">Názov:
    <input formControlName="nazov" type="text" class="Nknihy" name="NazovKnihy" placeholder="Nazov knihy..." >
  </label>
  <br>

  <label class="Form">Autor:
    <input formControlName="autor" class="Nknihy" placeholder="Meno autora...">
  </label>
  <br>

  <label class="Form">Dostupnosť:
    <input formControlName="dostupnost" class="Nknihy" placeholder="Dostupnosť...">
  </label>
  <br>
  <br>
  <br>

  <button class="buttons" (click)="pridaj()" *ngIf="form.value.id === null">PRIDAJ</button>
  <br>
  <button class="buttons" (click)="uprav()" *ngIf="form.value.id !== null">UPRAV</button>
  <br>
  <button class="buttons" (click)="zrus()">ZRUS</button>
  <!---
  ID: <input [(ngModel)]="kniha.id"><br>
  <br>
  Názov: <input [(ngModel)]="kniha.nazov"><br>
  <br>
  Autor: <input [(ngModel)]="kniha.autor"><br>
  <br>
  Dostupnosť: <input [(ngModel)]="kniha.dostupnost"><br>
  <br>
  -->
</form>
</div>
