<h1>KNIHY - formulár</h1>
<br>
<form [formGroup]="form">
  <!---
    <label>ID:
      <input formControlName="id">
    </label>
    <br>
   -->
  <label>Názov:
    <input formControlName="nazov">
  </label>
  <br>

  <label>Autor:
    <input formControlName="autor">
  </label>
  <br>

  <label>Dostupnosť:
    <input formControlName="dostupnost">
  </label>
  <br>

  <button (click)="pridaj()" *ngIf="form.value.id === null">PRIDAJ</button>
  <button (click)="uprav()" *ngIf="form.value.id !== null">UPRAV</button>
  <!---
  ID: <input [(ngModel)]="kniha.id"><br>
  <br>
  Názov: <input [(ngModel)]="kniha.nazov"><br>
  <br>
  Autor: <input [(ngModel)]="kniha.autor"><br>
  <br>
  Dostupnosť: <input [(ngModel)]="kniha.dostupnost"><br>
  <br>
  -->
</form>
