<div class="content" role="main">
  <br> {{title}}
  <br><br>

  dec: &ensp; &nbsp; <input>

  <br><br>
  <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7</a>
  <a>&nbsp;&nbsp; 6</a>
  <a>&nbsp;&nbsp; 5</a>
  <a>&nbsp;&nbsp;&nbsp;4</a>
  <a>&nbsp;&nbsp;&nbsp;3</a>
  <a>&nbsp;&nbsp;&nbsp;2</a>
  <a>&nbsp;&nbsp;&nbsp;1</a>
  <a>&nbsp;&nbsp; 0</a>
  <br>

  bin: &nbsp; <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
              <input type="checkbox">
</div>

