<div class="content" role="main">
  <br> {{title}}
  <br><br>
  <button (click)="nastaMenu(menu.OSOBY)">OSOBY</button>
  <button (click)="nastaMenu(menu.KNIHY)">KNIHY</button>
  <button (click)="nastaMenu(menu.VYPOZICKY)">VYPOŽIČKY</button>

  <router-outlet></router-outlet>
  <!--
  dec:&ensp;&nbsp; <input [(ngModel)]="decimal" (change)="transfertoBin()">

    <br><br>
    <a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 7</a>
    <a>&nbsp;&nbsp; 6</a>
    <a>&nbsp;&nbsp; 5</a>
    <a>&nbsp;&nbsp;&nbsp;4</a>
    <a>&nbsp;&nbsp;&nbsp;3</a>
    <a>&nbsp;&nbsp;&nbsp;2</a>
    <a>&nbsp;&nbsp;&nbsp;1</a>
    <a>&nbsp;&nbsp; 0</a>
    <br>

    bin: &nbsp; <input [(ngModel)]="bits[7]" type="checkbox">
    <input [(ngModel)]="bits[6]" type="checkbox">
    <input [(ngModel)]="bits[5]" type="checkbox">
    <input [(ngModel)]="bits[4]" type="checkbox">
    <input [(ngModel)]="bits[3]" type="checkbox">
    <input [(ngModel)]="bits[2]" type="checkbox">
    <input [(ngModel)]="bits[1]" type="checkbox">
    <input [(ngModel)]="bits[0]" type="checkbox">

    <div *ngIf="aktMenu == menu.OSOBY">

      <button (click)="pridaj();">PRIDAJ</button><br>
      <br/>
      Zoznam:<br/>
      <br>


    </div>

    <div *ngIf="aktMenu == menu.KNIHY">

      <button (click)="pridaj2();">PRIDAJ</button><br>
      <br/>
      Zoznam:<br/>


    </div>

    <div *ngIf="aktMenu == menu.VYPOZICKY">

      <button (click)="pridaj3();">PRIDAJ</button><br>
      <br/>
      Zoznam:<br/>
      <br>


    </div>
    -->
  </div>

