<h1>Osoby - zoznam</h1>

<!--
<div *ngIf="!osoby || osoby?.length === 0">
  Zoznam osôb je prázdny.
</div>
-->

<table class="table"> <!---*ngIf="osoby?.length > 0"-->
  <thead>
  <tr>
    <th>ID</th>
    <th>Meno</th>
    <th>Priezvisko</th>
    <th>Kontakt</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let osoba of osoby">
    <td>{{osoba.id}}</td>
    <td>{{osoba.meno}}</td>
    <td>{{osoba.priezvisko}}</td>
    <td>{{osoba.kontakt}}</td>
    <td>
      <button (click)="uprav(osoba)">UPRAVIŤ</button>
      <button (click)="zmaz(osoba)">ZMAZAŤ</button>
    </td>
  </tr>
  </tbody>
</table>

<!--
<div *ngFor="let o of osoby">
  osoba: {{o.id}}  {{o.meno}}  {{o.priezvisko}}  {{o.kontakt}}
  <button (click)="uprav(o)">Uprav</button>
</div>
-->
