<h1 class="FormNadpis">OSOBY - formular</h1>
<br>
<div class="formbackdesign">
<form class="formdesign" [formGroup]="form">
  <div class="form-group">

  <label class="Form0">Meno:
    <input formControlName="meno" class="Nosoby" placeholder="Zadaj meno...">
  </label>
  <br>

  <label class="Form0">Priezvisko:
    <input formControlName="priezvisko" class="Nosoby" placeholder="Zadaj priezvisko...">
  </label>
  <br>

  <label class="Form0">Kontakt:
    <input formControlName="kontakt" class="Nosoby" placeholder="Zadaj kontakt...">
  </label>
  <br>

  <button class="buttonsO" (click)="pridaj();" *ngIf="form.value.id === null" [disabled]="!this.form.valid">PRIDAJ</button>
    <br>
  <button class="buttonsO" (click)="uprav();" *ngIf="form.value.id !== null" [disabled]="!this.form.valid">UPRAV</button>
    <br>
  <button class="buttonsO" (click)="zrus();">ZRUŠ</button>

  </div>
</form>
</div>

