.Nadpis{
  text-align: center;
  font-family: "Verdana";
  font-weight: bold;
  font-size: 70px;
}
.buttons{
  font-family: "Verdana";
  font-weight: bold;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 10%;
  text-align: center;
  cursor: pointer;
  display: block;
  padding: 14px 28px;
  width: 80%;
  border: none;
  background-color: #45a049;
}
